@import "~bootstrap/scss/bootstrap";

nav.navbar {
  margin-bottom: 20px;

  .navbar-nav {
    width: 100%;
  }
}

.link-card {
  display: inline-block;
  text-decoration: none;
  color: #212529;
  margin-bottom: 30px;
}

a.active span.badge {
  background-color: white !important;
  color: black;
}

.comment {
  margin-bottom: 25px;

  p {
    margin-bottom: 5px;
  }

  .author {
    font-size: 15px;
    font-weight: 500;
    margin-right: 8px;
  }
}